<div class="row m-3">
    <div class="col-sm">
        <br>
        <h2>My Cart</h2>
        <hr>
        <div *ngIf="baskets.length">
            <div class="row" *ngFor="let basket of baskets">
                <ngx-basket-card class="w-100" [basket]="basket"></ngx-basket-card>
            </div>

            <div class="row w-100">
                <p style="text-align: right" class="w-100">Your payment secured by SSL <i class="fas fa-shield-alt"></i>
                </p>
            </div>
            <br><br>
        </div>
        <div *ngIf="!baskets.length">
            <p class="text-center" style="margin-top: 200px">You have no items in your basket.</p>
            <br>
            <p class="text-center m-2"><a [routerLink]="['/pages/shop']">Continue Shopping</a></p>
        </div>
    </div>
    <div class="col-sm-4" *ngIf="baskets.length">
        <br>
        <h2>Order Summary</h2>
        <hr>
        <nb-card class="p-5">
            <div class="row">
                <h6 class="col-sm m-0 p-0">Subtotal:</h6>
                <p class="col-sm">$ {{ calculateTotalPrice() | number}}</p>
            </div>
            <div class="row">
                <h6 class="col-sm m-0 p-0">Shipping:</h6>
                <p class="col-sm">$ 0</p>
            </div>
            <hr>
            <div class="row">
                <h5 class="col-sm m-0 p-0">Total: </h5>
                <h6 class="col-sm">$ {{ calculateTotalPrice() | number}}</h6>
            </div>
            <br><br>
            <div class="row" [style.display]="displayOrderForm">
                <h3>Customer Info</h3>
                <div class="row w-100 ">
                    <input class="w-100 m-3" [(ngModel)]="orderForm.fullName.value" type="text" nbInput fullWidth placeholder="Name Surname">
                    <input class="w-100 m-3" [(ngModel)]="orderForm.phone.value" type="text" nbInput fullWidth placeholder="Phone">
                    <input class="w-100 m-3" [(ngModel)]="orderForm.email.value" type="text" nbInput fullWidth placeholder="Email">
                </div>
                <div class="mt-3">
                    <h3 class="float-left">Address Info</h3>
                    <mat-icon (click)="onAddNewAddress()" nbTooltip="Add New Address" class="add-button m-2">add</mat-icon>
                </div>
                <nb-radio-group class="row m-0 w-100" [(ngModel)]="orderForm.address.value">
                    <nb-radio class="p-3"
                              *ngFor="let address of addresses"
                              [value]="address.value">
                        <h6>{{ address.name }}</h6>{{ address.value }}
                    </nb-radio>
                </nb-radio-group>
                <div class="row m-3">
                    <ngx-button class="w-100" (click)="checkout()" label="Finish Order" icon="fas fa-lock"></ngx-button>
                </div>
            </div>
            <div class="row m-3" [style.display]="displayOrderForm === 'none' ? 'block' : 'none' ">
                <ngx-button class="w-100" (click)="preapreOrder()" label="Continue Order" icon="fas fa-lock"></ngx-button>
            </div>
        </nb-card>
    </div>
</div>
