<div class="row w-100 mt-5 d-flex justify-content-around">
    <div class="col-sm-7">
        <div class="row m-3">
            <h2 class="default-text-properties">Send Message</h2>
            <div class="col-sm ml-5">
                <ngx-input class="w-100 mb-3" label="Name" type="text" placeholder="Name"></ngx-input>
                <ngx-input class="w-100 mb-3" label="Email" type="email" placeholder="Email"></ngx-input>
                <ngx-input class="w-100 mb-3" label="Subject" type="text" placeholder="Subject"></ngx-input>
                <ngx-textarea class="w-100 mb-3" label="Message" placeholder="Message..." rows="3"></ngx-textarea>
            </div>
            <div class="col-sm d-flex justify-content-center align-items-center">
                <div class="w-100">
                    <p>
                        Have any questions or concerns?<br>
                        We’re always ready to help!<br>
                        <br><br>
                        <strong>Call us at</strong><br>
                        123-456-7890<br>
                        or send us an email to:<br>
                        info@mysite.com
                    </p>
                </div>
            </div>
        </div>
        <div class="row m-5 d-flex justify-content-center">
            <ngx-button class="w-75" label="Submit"></ngx-button>
        </div>
    </div>
    <div class="col-sm-5">
        <ngx-gmaps class="w-100"></ngx-gmaps>
    </div>
</div>



