<div class="row m-5" *ngIf="product">
    <div class="col-sm-7">
        <ngx-product-image-gallery [productColors]="product.productColors"
                                   [selectedProductColor]="lastSelectedColor || product.productColors[0]">
        </ngx-product-image-gallery>
    </div>
    <div class="col-sm-5 p-5 detail">
        <div class="row m-0 w-100">
            <div class="col-sm-6">
                <div class="row">
                    <p class="product-code">{{product.code}}</p>
                </div>
                <div class="row">
                    <p class="product-name">{{product.name}}</p>
                </div>
                <div class="row price">
                    <h6>$ {{product.price | number}}</h6>
                </div>
                <div class="row">
                    <ul>
                        <li *ngFor="let feature of product.features.split(',')">
                            {{ feature }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <p class="w-100">Sizes: </p>
                    <mat-list *ngIf="product.sizes" role="list">
                        <mat-list-item role="listitem" *ngFor="let size of product.sizes">
                            {{ size.name }}
                        </mat-list-item>
                    </mat-list>
                </div>

                <div class="row">
                    <ngx-color-selet [product]="product"
                                     [selectedProductColors]="selectedProductColors"
                                     (onColorSelect)="onSelectColor($event)"></ngx-color-selet>
                </div>
                <!--                <ngx-size-select [items]="product.sizes" [selectedItems]="selectedSizes" label="Size"></ngx-size-select>-->
            </div>
        </div>

        <br>
        <br>
        <div class="row">
            <div class="col-sm-3 p-0">
                <input class="w-100 h-100 rounded" [(ngModel)]="product.quantity" type="number" min="1" max="1000"
                       nbInput fullWidth placeholder="Quantity">
            </div>
            <div class="col-sm ml-3 m-0 p-0">
                <ngx-button label="Add To Cart"
                            icon="fas fas fa-cart-plus"
                            (click)="onAddToBasket()"
                            [routerLink]="['/pages/basket']"></ngx-button>
            </div>
            <div class="ml-3 p-0">
                <ngx-button (click)="onToggleFavorite()" icon="fas fa-heart"></ngx-button>
            </div>
        </div>
        <br>
        <br>


        <div class="row">
            <h6 class="w-100">Product Description</h6><br>
            <p class="product-description">{{product.description}}</p>
        </div>
        <br>

        <!--        <div class="row">-->
        <!--            <h6>Return and Refun Policy</h6>-->
        <!--            <p style="text-align: justify;">I’m a Return and Refund policy. I’m a great place to let your-->
        <!--                customers-->
        <!--                know what to do in case they are dissatisfied with their purchase. Having a straightforward refund-->
        <!--                or-->
        <!--                exchange policy is a great way to build trust and reassure your customers that they can buy with-->
        <!--                confidence.</p>-->
        <!--        </div>-->

    </div>
</div>
