:host {
  transform-origin: center;
  transform: translate(-50%, -50%);
  position: absolute;
  max-width: 700px;
  max-height: 600px;
   &:hover {
     .remove {
       display: block;
     }
   }
}

img {
  width: 100px;
  max-height: 600px;
  max-width: 700px;
  cursor: pointer;
}

.remove {
  display: none;
  position: absolute;
  top: 2px;
  right: 5px;
  cursor: pointer;
  color: red;
}
