<img [alt]="accessory.name"
     [src]="accessory.angles[properties.angle]"
     [ngClass]="{'border border-white': accessory.isActive}"
     [ngStyle]="{'transform': 'scale(' + accessory.scale + ') ' +
                              'rotate(' + properties.rotate + 'deg)',
                 'filter': 'hue-rotate(' + accessory.currentColor.hue + 'deg) ' +
                            'brightness(' + accessory.currentColor.brightness + ') ' +
                            'contrast(' + accessory.currentColor.contrast + '%) ' +
                            'saturate(' + accessory.currentColor.saturate +'%) ' +
                            'grayscale(' + accessory.currentColor.grayscale + '%) ' +
                            'sepia(' + accessory.currentColor.sepia + '%)'}"
     [style.opacity]="properties.disabled ? (environment.isAdmin ? '0.5' : '0') : '1'">

<div class="remove" (click)="onRemoveAccessoryElement()"><mat-icon>close</mat-icon></div>
