<nav class="row m-0 w-100 bg-dark d-flex justify-content-center">
    <ul class="nav bg-dark">
        <li *ngFor="let flevel of categories"><a (click)="onSelectFLevelCategory(flevel)">{{flevel.name}}</a>
            <ul class="bg-dark">
                <li *ngFor="let slevel of flevel.children"><a (click)="onSelectSLevelCategory(slevel)">{{slevel.name}}</a>
                    <ul class="bg-dark">
                        <li *ngFor="let tlevel of slevel.children"><a (click)="onSelectTLevelCategory(tlevel)">{{tlevel.name}}</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</nav>
