HTML CSSResult
EDIT ON

nav {
  display: block;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav a {
  display: block;
  color: #fff;
  padding: 1.2em 2.5em;
  text-transform: uppercase;
  font-size: 80%;
  letter-spacing: 2px;
  position: relative;
}

.nav li {
  position: relative;
}

/* submenu positioning*/
.nav ul {
  position: absolute;
  white-space: nowrap;
  z-index: 1;
  left: -99999em;
}

.nav > li:hover > ul {
  left: auto;
  min-width: 100%;
}


.nav > li li:hover > ul {
  left: 100%;
  top: 0;
}

// OZUMUNKULER
li :hover {
  cursor: pointer;
  background-color: black;
}
