<nb-card class="rounded-0">
    <nb-card-body>
        <nb-icon class="mark-as-favorite"
                 [icon]="getHeartIcon()"
                 (click)="onToggleFavorite()"></nb-icon>
        <img [routerLink]="['../catalog/detail/', productModel.id, productModel.productId]" [src]="productModel.imgUrl"
             [alt]="productModel.name">
    </nb-card-body>
    <nb-card-footer [routerLink]="['../catalog/detail/', productModel.id, productModel.productId]">
        <p>{{productModel.name}}</p>
        <p>$ {{productModel.price | number}}</p>
    </nb-card-footer>
</nb-card>
