<nb-card>
    <div class="row p-3">
        <div class="col-sm-3">
            <img class="pointer" [routerLink]="['/pages/catalog/detail', basket.id]"
                 [src]="basket.imgUrl"
                 [alt]="basket.name">
        </div>
        <div class="col-sm-6 p-3">
            <h4 class="pointer" [routerLink]="['/pages/catalog/detail', basket.id]">{{basket.name}}</h4>
            <p>Stock Code: {{basket.code}}</p>
            <ngx-color-selet [product]="basket" [selectedProductColors]="basket.selectedProductColors"></ngx-color-selet>
            <ngx-size-select [items]="basket.sizes" [selectedItems]="basket.selectedSizes" label="Size"></ngx-size-select>
        </div>
        <div class="col-sm-3">
            <p>Price: $ {{basket.price * basket.amount * basket.selectedProductColors.length * basket.selectedSizes.length | number}}</p>
            <label for="amount">Quantity: </label>
            <input id="amount" nbInput fullWidth status="primary"
                   [(ngModel)]="basket.amount"
                   (ngModelChange)="onAmountUpdate()"
                   type="number" min="1" max="1000"
                   placeholder="Quantity">
            <ngx-button (click)="onDeleteBasket()" icon="far fa-trash-alt"></ngx-button>
        </div>
    </div>
</nb-card>
