:host * :not(i) {
  font-family: Optima,serif;
}

* {
  margin: 0;
  padding: 0;
  width: 100%;
}

input {
  border-color: lightgrey !important;
  border-radius: 0 !important;
  &:hover {
    border-color: black !important;
  }
}

img {
  width: 100%;
  max-height: 250px;
}

.row {
  margin: 0;
}

.pointer {
  cursor: pointer;
}
