<!--<nb-card class="w-100 m-2">-->
<form class="row m-3 w-100 d-flex justify-content-center" [formGroup]="filterForm" (ngSubmit)="onSubmit(filterForm.value)">
    <!--        <div class="row w-100 m-0 pt-3">-->
    <!--            <mat-form-field class="w-100">-->
    <!--                <mat-label>Brand</mat-label>-->
    <!--                <mat-select formControlName="brandIds" multiple>-->
    <!--                    <mat-option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</mat-option>-->
    <!--                </mat-select>-->
    <!--            </mat-form-field>-->
    <!--        </div>-->

    <!--        <div class="row w-100 m-0 pt-3">-->
    <!--            <mat-form-field class="w-100">-->
    <!--                <mat-label>Color</mat-label>-->
    <!--                <mat-select formControlName="colorIds" multiple>-->
    <!--                    <mat-option *ngFor="let color of colors" [value]="color.id">-->
    <!--                        <div class="color" [style.backgroundColor]="color.name"></div>-->
    <!--                        <span>{{color.name}}</span>-->
    <!--                    </mat-option>-->
    <!--                </mat-select>-->
    <!--            </mat-form-field>-->
    <!--        </div>-->

    <div class="row filter-item">
        <input class="col-sm rounded price-input" id="min" nbInput fullWidth status="primary"
               type="number" min="0" max="9999"
               formControlName="minPrice"
               placeholder="Min Price">
        <input class="col-sm rounded price-input" id="max" nbInput fullWidth status="primary"
               formControlName="maxPrice"
               type="number" min="0" max="9999"
               placeholder="Max Price">
    </div>

    <nb-select class="filter-item" size="large" multiple placeholder="Size">
        <nb-option *ngFor="let size of sizes" [value]="size.id">{{size.name}}</nb-option>
    </nb-select>

    <ngx-button class="filter-item" label="Filter" icon="fas fa-filter"></ngx-button>
</form>
<!--</nb-card>-->
