:host * :not(i) {
  font-family: Optima,serif;
}

p {
  font-size: 1.5rem;
  margin: 1rem;
}

nb-select {
  filter: grayscale(1);
  min-width: 250px;
}

input {
  padding: 10px !important;
  border-color: lightgrey !important;
  &:hover {
    border-color: black !important;
  }
}

.color {
  display: block;
  float: left;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.active {
  transform: scale(1.2);
  border: 1px solid black;
}

.filter-item {
  margin: 10px;
}

.price-input {
  min-width: 100px;
  margin: 0 5px;
}

@media only screen and (max-width: 600px)  {
  .price-input {
    width: 100%;
    margin: 5px;
  }

  .filter-item {
    width: 100%;
    margin: 5px;
  }
}

