:host * :not(i) {
  font-family: Optima,serif;
  position: static;
}

nb-card {
  position: static;
}

p {
  font-size: 1.5rem;
  margin: 1rem;
}

nb-select {
  filter: grayscale(1);
}

input {
  margin: 0.5rem;
  border-color: lightgrey !important;
  border-radius: 0 !important;
  &:hover {
    border-color: black !important;
  }
}

.color {
  display: block;
  float: left;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.active {
  transform: scale(1.2);
  border: 1px solid black;
}
