video {
  width: 100%;
}

h2 {
  width: 100%;
  text-align: center;
}

p {
  width: 100%;
  padding: 1rem 15%;
  text-align: justify;
}

.default-text-properties {
  width: 100%;
  letter-spacing: 3px;
  text-align: center;
  margin: auto 0;
  font-weight: lighter;
}
