<br><br>
<h2 class="default-text-properties"> History </h2>
<br><br>

<div class="row d-flex justify-content-around">
    <div class="col-sm-9">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
        </p>
    </div>
</div>

<hr>

<br><br>
<div class="row d-flex justify-content-center">
    <div class="col-sm-5">
        <h2 class="default-text-properties"> Vision </h2>
        <br><br>
        <p>
            Uluslararası arenada toptancılık üzerine geniş yelpazeye sahip, bir çok ülkenin kaliteli ve modern ürünlere ulaşmasını sağlayan,
            saygınlığıyla tanınan, insana ve insani değerlere saygılı, güvenli hizmet anlayışıyla ulusal ve uluslararası arenada toptan tekstil
            ihtiyacını karşılayacak online toptan satış gerçekleştiren platform haline gelmek.
        </p>
    </div>
    <div class="col-sm-5">
        <h2 class="default-text-properties"> Mission </h2>
        <br><br>
        <p>
            Türkiye’de yüksek kalite anlayışıyla tekstil üretimi gerçekleştiren firmaların ürünlerini, müşteri memnuniyeti odaklı, kaliteden ödün
            vermeyen hizmet anlayışı çerçevesinde, güvenilir, verimli, yenilikçi, toplum ve çevreye duyarlı ve katkı sağlayan en güncel online
            platform olmak.
        </p>
    </div>
</div>

<hr>

<br><br>
<h2 class="default-text-properties"> Degerlerimiz </h2>
<br><br>

<div class="row d-flex justify-content-around">
    <div class="col-sm-9">
        <p>
            Yüksek kalite anlayışıyla üretilen ürünleri ihraç ederken, çalışanlarımızın, müşterilerimizin, ortaklarımızın ve tedarikçilerimizin
            gözünde bizi farklı kılan çalışma metodumuz, iş ahlakımızı ve değerlerimizi her zaman gözeterek, kültürel farklılıkları anlıyor, biliyor,
            saygı gösteriyoruz ve bu kültürel farklılıklara hitap etmeye çalışıyoruz.
        </p>
    </div>
</div>

<br><br>
<div class="row d-flex justify-content-center">
    <div class="col-sm-5">
        <p>
            Müşteri memnuniyetini önde tutmak <br> <br>
            Ekonomik kalkınma ve karlılığın önemine inanmak <br> <br>
            Ana hedeflerimiz doğrultusunda değişime açık olmak <br> <br>
            Yaptığı işin en iyisi olmaya dair inançlı ve hevesli olmak <br> <br>
            Üstün iş ahlakı ve dürüstlükten ödün vermemek <br> <br>
            Sürekli gelişmek için fırsatlar oluşturmak <br> <br>
            Her zaman ilkelerimize bağlı olarak güncel ürünler sunmak <br> <br>
        </p>
    </div>
    <div class="col-sm-5">
        <p>
            İş ve ilişkilerimizde hak ve adalet duygusu ile hareket eden bir oluşumuz. <br> <br>
            Yüksek ahlaki standartlara sahibiz. Faaliyetlerimizde ahlaka aykırı yöntem ve uygulamaya müsamaha göstermeyiz. <br> <br>
            İtibarımızı herşeyin önünde tutar, hiçbir maddi menfaate feda etmeyiz. <br> <br>
            Farklılıkları zenginlik olarak görür her türlü ayrımcılığı reddederiz. <br> <br>
            İyi ve kötü günde birbirimize destek olur, omuz omuza çalışırız. <br> <br>
            Başarının insanla birlikte mümkün ve anlamlı olduğuna inanırız. Daima insanı geliştirmeyi ve mutlu etmeyi amaçlarız.
            <br>
        </p>
    </div>
</div>

<br><br>
