<div class="header-container w-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" [routerLink]="['/pages/home']">
            <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            <h5> Mercadeo</h5>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a [routerLink]="['/pages/home']">Home</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/pages/shop']">Shop</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/pages/about']">About</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/pages/customer-care']">Customer Care</a></li>
                <li class="nav-item"><a class="nav-link" [routerLink]="['/pages/contact']">Contact</a></li>
            </ul>
            <div class="header-container">
                <nb-actions size="small">

                    <!--    <nb-action class="control-item">-->
                    <!--      <nb-search type="rotate-layout"></nb-search>-->
                    <!--    </nb-action>-->
                    <nb-action [routerLink]="['/pages/basket']" style="filter: grayscale(1)"><i class="fas fa-shopping-cart"
                                                                                                [matBadge]="storage.baskets?.length"
                                                                                                matBadgeColor="accent"></i></nb-action>
                    <nb-action [routerLink]="['/pages/user/profile']" style="filter: grayscale(1)"><i class="fas fa-heart" style="font-size: 1.5rem;"
                                                                                                      [matBadge]="storage.favorites?.length"
                                                                                                      matBadgeColor="accent" matBadge></i></nb-action>
                    <nb-action><i class="fas fa-bell" [matBadge]="storage.notifications?.length"></i></nb-action>
                    <nb-action class="user-action" *nbIsGranted="['view', 'user']">
                        <nb-user [nbContextMenu]="userMenu"
                                 [onlyPicture]="userPictureOnly"
                                 [name]="user?.fullName"
                                 [picture]="user?.imageUrl">
                        </nb-user>
                    </nb-action>
                </nb-actions>
            </div>
        </div>
    </nav>
</div>
