<div class="banner-video-wrapper">
    <video autoplay loop [volume]="0.05" class="banner-video" src="http://localhost:5000/homebanner/banner.mp4"></video>
</div>

<!--<div class="row p-2 free-shipping">-->
<!--    <p class="default-text-properties">FREE SHIPPING WORLWIDE</p>-->
<!--</div>-->


<br><br>
<h2 class="default-text-properties">~ Best Seller ~</h2>
<br><br>
<div class="row  m-5 d-flex justify-content-center">
  <div class="col-sm-3" *ngFor="let model of productModels">
    <ngx-product-card [product]="model"></ngx-product-card>
  </div>
</div>

<hr>

<br><br>
<h2 class="default-text-properties">~ Best Seller ~</h2>
<br><br>
<div class="row m-5 d-flex justify-content-center">
    <div class="col-sm-3" *ngFor="let model of productModels">
        <ngx-product-card [product]="model"></ngx-product-card>
    </div>
</div>

<hr>

<br><br>
<h2 class="default-text-properties">~ Best Seller ~</h2>
<br><br>
<div class="row  m-5 d-flex justify-content-center">
    <div class="col-sm-3" *ngFor="let model of productModels">
        <ngx-product-card [product]="model"></ngx-product-card>
    </div>
</div>

<hr>

<br><br>
<h2 class="default-text-properties">~ Best Seller ~</h2>
<br><br>
<div class="row  m-5 d-flex justify-content-center">
    <div class="col-sm-3" *ngFor="let model of productModels">
        <ngx-product-card [product]="model"></ngx-product-card>
    </div>
</div>

<hr>

<br><br>
<h2 class="default-text-properties">~ Contact Us ~</h2>
<br><br>

<ngx-contact></ngx-contact>
<br><br>
