<!--<div class="banner-video-wrapper">-->
<!--    <video autoplay loop [volume]="0.05" class="banner-video" src="http://localhost:5000/homebanner/banner.mp4"></video>-->
<!--</div>-->

<!--<div class="row p-2 free-shipping">-->
<!--    <p class="default-text-properties">FREE SHIPPING WORLWIDE</p>-->
<!--</div>-->
<div style="left: 0" class="row m-0 p-0 w-100">
    <ngx-categories class="w-100"></ngx-categories>
    <ngx-carousel></ngx-carousel>

    <div class="row w-100 m-3">
        <span *ngFor="let products of categorizedProducts; let i = index">
            <span *ngIf="products.length > 0">
                <h2 class="m-3 default-text-properties">~ {{categoryTree[i].name}} ~</h2>
                <div class="row  m-5 d-flex justify-content-center">
                  <div class="col-sm-3" *ngFor="let product of products">
                    <ngx-product-card [product]="product"></ngx-product-card>
                  </div>
                </div>

                <hr>
            </span>
        </span>
    </div>

    <div class="row w-100 m-3 d-flex justify-content-center">
        <h2 class="m-3 default-text-properties">~ Contact Us ~</h2>
        <ngx-contact></ngx-contact>
    </div>
</div>
