.banner-video-wrapper {
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.how-to-made-video-wrapper {
  width: 100%;
}

.banner-video {
  position: relative;
  top: -50%;
}

video {
  width: 100%;
}


img {
  width: 100%;
}

.free-shipping {
  background-color: lightgrey;
}

.default-text-properties {
  width: 100%;
  letter-spacing: 3px;
  text-align: center;
  margin: auto 0;
  font-weight: lighter;
}

.material-img {
  cursor: pointer;
  &:hover {
    border: 1px solid black;
  }
}
