<div class="row m-3 d-flex justify-content-center two-column">
    <div class="col-sm-5 mr-5">
        <div class="row mt-5">
            <h2 class="default-text-properties">FAQ</h2>
        </div>
        <nb-accordion class="rounded-0">
            <nb-accordion-item class="rounded-0">
                <nb-accordion-item-header>
                    Do you provide International delivery?
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                    double
                    click me to add your own content and make changes to the font.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>
                    How do I return an item?
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                    double
                    click me to add your own content and make changes to the font.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>
                    What is your returns policy?
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                    double
                    click me to add your own content and make changes to the font. I’m a great place for you to tell a
                    story and
                    let your users know a little more about you.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>
                    How do I track my order?
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                    double
                    click me to add your own content and make changes to the font. I’m a great place for you to tell a
                    story and
                    let your users know a little more about you.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item>
                <nb-accordion-item-header>
                    How can I contact your couriers?
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                    double
                    click me to add your own content and make changes to the font.
                </nb-accordion-item-body>
            </nb-accordion-item>

            <nb-accordion-item class="rounded-0">
                <nb-accordion-item-header>
                    What are your delivery options?
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                    I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                    double
                    click me to add your own content and make changes to the font.
                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>
    </div>
    <div class="col-sm-5 ml-5">
        <div class="row w-100 mt-5 one-column">
            <h2 class="default-text-properties">CUSTOMER CARE</h2>
            <p>
                I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                double click
                me to add your own content and make changes to the font. I’m a great place for you to tell a story and
                let your
                users know a little more about you.
            </p>
            <hr class="w-100">

            <h2 class="default-text-properties">RETURNS</h2>
            <P>
                I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                double click
                me to add your own content and make changes to the font. I’m a great place for you to tell a story and
                let your
                users know a little more about you.
            </P>
        </div>
    </div>
</div>
<br><br>
<hr class="w-100">

<ngx-contact class="mt-5"></ngx-contact>








