h2 {
  width: 100%;
  padding: 1rem 25%;
  text-align: center;
}

.one-column p {
  width: 100%;
  padding: 1rem 25%;
  text-align: justify;
}

.two-column p {
  width: 100%;
  padding: 1rem;
  text-align: justify;
}

h4 {
   width: 100%;
   padding: 1rem 10%;
   text-align: center;
 }

.default-text-properties {
  width: 100%;
  letter-spacing: 3px;
  text-align: center;
  margin: auto 0;
  font-weight: lighter;
}
