:host {
  width: 100%;
}

mat-icon {
  font-size: 3rem;
}

.design-area {
  position: relative;
  width: 600px;
  height: 638px;
}

.point {
  transform-origin: center;
  transform: translate(-50%, -50%);
  position: absolute;
  cursor: pointer;
  color: red;
  font-size: 2rem;
}
