<div *ngIf="properties">

  <div class="form-row">
    <button type="button" class="btn btn-dark" (click)="onAddNewLocation()" [matTooltip]="'Add Location'"><mat-icon>add_location</mat-icon></button>
    <button type="button" class="btn btn-dark" (click)="onDeleteCurrentLocation()" [matTooltip]="'Delete Location'"><mat-icon> location_off</mat-icon></button>
    <button type="button" class="btn btn-dark" (click)="onDeleteAccessory()" [matTooltip]="'Delete Accessory'"><mat-icon>delete</mat-icon></button>
    <button type="button" class="btn btn-dark" (click)="onSaveProperties()" [matTooltip]="'Save Accessory'"><mat-icon>save</mat-icon></button>
  </div>

  <hr>

  <div class="form-row">

    <div class="col-md-6 mb-3 d-flex align-items-center">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="hideSwitch"
               [(ngModel)]="properties.disabled">
        <label class="custom-control-label" for="hideSwitch">Hide</label>
      </div>
    </div>

    <div class="col-md-6 mb-3 angle-range">
      <label for="angle">Accessory angle</label>
      <input type="range"
             class="custom-range"
             id="angle"
             [(ngModel)]="properties.angle"
             min="0" max="7">
    </div>
  </div>

  <label for="scale">Top</label>
  <input type="range"
         class="custom-range"
         id="top"
         [(ngModel)]="properties.y"
         min="0" max="700">

  <label for="scale">Left</label>
  <input type="range"
         class="custom-range"
         id="left"
         [(ngModel)]="properties.x"
         min="0" max="600">

  <label for="scale">Scale</label>
  <input type="range"
         class="custom-range"
         id="scale"
         [(ngModel)]="accessory.scale"
         min="0" max="3" step="0.1">


  <label for="rotate">Rotate</label>
  <input type="range"
         class="custom-range"
         id="rotate"
         [(ngModel)]="properties.rotate"
         min="0" max="360">

</div>
